<div class="expenses-container">
  <div id="expenses-header">
    <h2>Expenses</h2>

  </div>

  <div id="expenses-wrapper">
    <app-expenses-table></app-expenses-table>

  </div>
  <!-- <div *ngIf="loading">Loading...</div>

  <div *ngIf="error" class="error-message">
    {{ error }}
  </div>

  <div *ngIf="!loading && !error">
    <div *ngFor="let expense of expenses" class="expense-item">
      <h3>{{ expense.description }}</h3>
      <p>Amount: {{ expense.amount }}&euro;</p>
      <p>Date: {{ expense.date | date }}</p>
    </div>
  </div> -->
</div>
