.expenses-container {
    position: absolute;
    top: 20px; right: 0; bottom: 0; left: 0;
}

#expenses-header{
  height: 30%;
  background-color: #ff000050;
}

#expenses-wrapper{
  height: 65%;
  color: aqua;
}
